.App {
  margin: 2% 3%;
  padding: 1.5% 3%;
  background-color: #fff;
  border-radius: 10px;
  max-width: 1340px;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}
.navBar ul {
  display: flex;
  flex-wrap: wrap;
}
.activeBtn {
  background-color: #282828;
  color: #fff;
  margin: 5px;
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
}

.navBarBtn {
  margin: 5px;
  padding: 10px 25px;
  background-color: #f9f9f9;
  border-radius: 15px;
  cursor: pointer;
}
select {
  border: none;
}
option {
  margin: 3px 0;
}
.pizzasSection {
  min-height: 55vh;
}
.pizzasSection h2 {
  margin: 20px 0;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
}

/* =================== */
.anyPizza {
  pointer-events: none;
  opacity: 0.5;
}
